torch==1.9.0
torchvision
numpy==1.21.6
pillow
matplotlib
pandas==1.3.2
pytoml
tqdm
opencv-python
scikit-image
pyqt5
dill
easydict
wandb
git+https://github.com/pschroeppel/itypes.git
git+https://github.com/pschroeppel/iutils.git
git+https://github.com/pschroeppel/iviz.git
git+https://github.com/pschroeppel/imetrics.git
